*{
    min-height: 100%;
    
}
.grid{
    height: 950px;
    display:grid;
    grid-template-areas:'header header'
                        'menu menu'
                        'contenido lateral'
                        'footer footer';
    grid-template-columns:80% auto;
    grid-template-rows: 10% 20% auto 10%;
    
}
.caja{
    background-color: rgb(134, 134, 134);
    color: white;
    border:2px solid  rgb(77, 11, 153);
    display:flex;
    justify-content: center;
    align-items: center;
}
.c1{
    grid-area: header;
    
}
.c2{
    grid-area: menu;
}
.c3{
    grid-area: contenido;
}
.c4{
    grid-area: lateral;
}
.c5{
    grid-area: footer;
}